{% extends 'hr/layout.html' %}

{% block body %}

  
    <div >
      <h1>Features</h1>
    </div>
    <hr>

  <div class="row">
      <div class="col-md-4">
          <div class="card" style="width: 20rem;  height: 15rem;">
              <div class="card-body">
                <h3 class="card-title">Create new JD</h3>
                <p class="card-text">Create a new job profile from scratch</p>
                <a href="{% url 'jd_description_analyser' %}" class="btn btn-outline-light">Proceed</a>
              </div>
            </div>
      </div>
      <div class="col-md-4">
          <div class="card" style="width: 20rem; height: 15em;">
              <div class="card-body">
                <h3 class="card-title">Analyse resumes</h3>
                <p class="card-text">Analyse Candidates Resumes for a given Job Description.</p>
                <a href="{% url 'analyse_resumes' %}" class="btn btn-outline-light">Proceed</a>
              </div>
          </div>
      </div>
      <div class="col-md-4">
        <div class="card" style="width: 20rem;min-height: 15rem;">
          <div class="card-body d-flex flex-column">
              <h3 class="card-title">Track Existing JD's</h3>
              <p class="card-text">See the progress of shortlisted candidates of existing Job Descriptions</p>
              <ul class="flex-grow-1">
                {% for jd in jds %}
                    <li><a href="{% url 'jd_progress' jd.id %}" class="btn btn-outline-light">{{jd.jd_title}}</a></li>
                    {% empty %}
                    <li>No JDs</li>
                  {% endfor %}
              </ul>
          </div>
      </div>
      </div>
  </div>


<style>
  .card{
    background-image: linear-gradient(to bottom, #2f3e46, #52796f);
    color: white;
  }
</style>

{% endblock %}