{% extends 'hr/layout.html' %}

{%block body%}
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-7">
                <h1>JD Description</h1>
                <b>Job Title</b>
                <p>{{jd.jd_title}}</p>
                <b>Skills</b>
                <p>{{jd.job_description.skills}}</p>
                <b>Responsibilities</b>
                <p>{{jd.job_description.responsibilities}}</p>
                <b>Responsibilities</b>
                <p>{{jd.job_description.responsibilities}}</p>
                <b>Requirements</b>
                <p>{{jd.job_description.requirements}}</p>
                <b>About Company</b>
                <p>{{jd.job_description.about_company}}</p>
                
            </div>
            <div class="col-md-5">
                <h1>applied_resumes</h1>
                <p>Details about list of names of applied resumes over here</p>
                <ul>
                    {% for a in applied_resumes %}
                    <li>{{a.applicant_email}}</li>
                    {% endfor %}
                </ul>
                <hr>
                <h1>Candidates Progress Till Now</h1>
                <ul>
                    {% for a in test_updates %}
                    <li>{{a.resume_id.applicant_email}}   -   {{a.test_taken}}   -   {{a.score }}</li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>
    {{applied_resumes}}
{%endblock%}