{% extends 'hr/layout.html' %}

{%block body%}
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-7">
                <h1>JD Description</h1>
                <b>Job Title</b>
                <p>{{jd.jd_title}}</p>
                <b>Skills</b>
                <p>{{jd.job_description.skills}}</p>
                <b>Responsibilities</b>
                <p>{{jd.job_description.responsibilities}}</p>
                <b>Responsibilities</b>
                <p>{{jd.job_description.responsibilities}}</p>
                <b>Requirements</b>
                <p>{{jd.job_description.requirements}}</p>
                <b>About Company</b>
                <p>{{jd.job_description.about_company}}</p>
                
            </div>
            <div class="col-md-5">
                <div class="welcome">
                    <h1>Applied_resumes</h1>
                <p>Details about list of names of applied resumes over here</p>
                <ul>
                    {% for a in applied_resumes %}
                    <li><b>{{a.applicant_email}}</b></li>
                    {% endfor %}
                </ul>
                </div>
                <hr>
                <div class="welcome">
                    <h1>Shortlisted Candidates</h1>
                    <ul>
                        {% for a in test_updates %}
                        {% if a.score is not None %}
                            <li>{{ a.resume_id.applicant_email }} - {{ a.test_taken }} - {{ a.score }}</li>
                        {% else %}
                            <li style="color: red;"><b>{{ a.resume_id.applicant_email }} - Test Not Taken Yet</b></li>
                        {% endif %}
                    {% endfor %}
                </ul>
                </div>
            </div>
        </div>
    </div>
    
{%endblock%}